<div class="col" id="users-col">
    <h2>Gebruikers</h2>
    <p>Selecteer een gebruiker en bekijk zijn notities</p>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" *ngFor="let user of users" [ngClass]="{'active': selectedItem == user}" (click)="listClick($event, user)">{{user.name}}</button>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="newName" placeholder="Naam gebruiker" aria-label="gebruikersnaam" aria-describedby="naam-gebruiker">
        <button class="btn btn-outline-secondary" type="button" id="naam-gebruiker" (click)="addUser()">Voeg Toe</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Verwijder geselecteerde gebruiker</button>
    </div>
    <br>
</div>