<div class="card">
    <div class="card-header">
        <input type="text" class="form-control" [(ngModel)]="note.categorie" placeholder="Schrijf hier je categorie..." aria-label="notecontent" aria-describedby="basic-addon-category">
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <div class="form-group">
                <textarea [(ngModel)]="note.noteContent" placeholder="Schrijf hier je notitie..." class="form-control" id="notecontent" rows="3"></textarea>
            </div>
        </h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-success" (click)='addNote()'>Voeg notitie toe</a>
    </div>
</div>
<br>